<h1>Hacker News Latest Stories</h1>

<p *ngIf="!hackerNewsStories"><em>Loading...</em></p>
<div *ngIf="hackerNewsStories">
  <form>
    <input placeholder="Search" (keyup)="search($event)">
  </form>
  <mat-card *ngFor="let story of hackerNewsStories" (click)="open(story.url)">
    <mat-card-content>
      <mat-card-title><strong>Title: </strong>{{ story.title }}</mat-card-title>
      <mat-card-subtitle><strong>Author: </strong>{{ story.by }}</mat-card-subtitle>
      <mat-card-subtitle ng-switch="!!story.url">
        <span ng-switch-when="true">
          <strong>URL: </strong>
          <a href="{{story.url}}" target="_blank">{{story.url}}</a>
        </span>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>


<!--<div class='pagination-container'>
  <nav>
    <ul class="pagination">
      <li data-page="prev">
        <span> < <span class="sr-only">(current)</span></span>
      </li>-->
<!--	Here the JS Function Will Add the Rows -->
<!--<li data-page="next" id="prev">
          <span> > <span class="sr-only">(current)</span></span>
        </li>
      </ul>
    </nav>
  </div>
</div>-->
