<h1>Hacker News Top Stories</h1>

<p *ngIf="!hackerNewsStories"><em>Loading...</em></p>
<div *ngIf="hackerNewsStories">
  <input placeholder="Search Stories" type="text" [(ngModel)]="searchNews" />
  <mat-card *ngFor="let story of hackerNewsStories | filter:searchNews | paginate:{itemsPerPage: itemsPerPage,
            currentPage: page, totalItems: totalItems}">
    <mat-card-content>
      <mat-card-title><strong>Title: </strong>{{ story.title }}</mat-card-title>
      <mat-card-subtitle><strong>Author: </strong>{{ story.by }}</mat-card-subtitle>
      <mat-card-subtitle ng-switch="!!story.url">
        <span ng-switch-when="true">
          <strong>URL: </strong>
          <a href="{{story.url}}" target="_blank">{{story.url}}</a>
        </span>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <pagination-controls class="pagi" (pageChange)="page=$event"></pagination-controls>
</div>
